body {
	background-color: coral;
}
h1 {
	color: red;
	font-weight: bold;

}
p
{
	color: white;
	font-family: sans-serif;
}
ul 
{
	text-decoration: none;
	color: white;
	list-style: none;
	display: block;

}
ul li  {
	display: inline-block;
	/*text-decoration: none;*/
}
ul li a
{
	text-decoration: none;
}